.book-cover {
	border: 1px solid black;
	width: 8em;
	max-width: 8em;
	height: 10em;
	max-height: 10em;
}

.book-cover .book-title {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	margin: 0.5em;
}

.book-cover .book-author {
	font-size: 1em;
	text-align: center;
	margin: 0.5em;
	color: blue;
}