.answer {
  font-size: 200%;
  text-align: center;
}

.answerbox {
  width: 22em;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -11em;
  padding: 4px;
  
  font-size: 200%;
  background-color: red;
  height: 1.2em;
  xtext-align: center;
  font-family: monospace;
}